@model Caso_de_Estudio.Models.Laboratorio

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h1 class="card-title">
            Eliminacion del laboratorio
        </h1>
    </div>
    <dl class="dl-horizontal mt-5 card-body">

        <dt class="card-title mt-2">
            @Html.DisplayNameFor(model => model.nombreLab) :
            @Html.DisplayFor(model => model.nombreLab)
        </dt>

        <dt class="card-title mt-2 mb-5">
            @Html.DisplayNameFor(model => model.Estado1.nombreEst) :

            @Html.DisplayFor(model => model.Estado1.nombreEst)
        </dt>
        
        <div class="form-group mt-5 mb-3">
            <div class="col-md-offset-2 col-12">
                <a class="btn btn-info btn-block" href="@Url.Action("Index", "Laboratorios")">Volver</a>
            </div>
        </div>
    </dl>
   
</div>

