@model IEnumerable<Caso_de_Estudio.Models.Laboratorio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    @using (Html.BeginForm("Index", "Laboratorios", FormMethod.Post))
    {
        <div class="mt-3 container">
            <div class="row" style="text-align:right; float:right;">
                <div class="input-group mr-3">
                    @Html.TextBox("buscar", "", new { @class = "form-control" })
                    <button type="submit" class="btn btn-dark">Buscar</button>
                </div>
            </div>
        </div>
    }
    <div class="container mt-5">

        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.nombreLab)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado1.nombreEst)
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombreLab)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado1.nombreEst)
                    </td>
                    
                    <td>
                        <span style="cursor:pointer;" title="Ver detalles"><a href="@Url.Action("Details", "Laboratorios", new { id = item.id})" style="color:black;"><i class="fas fa-eye"></i></a></span>
                        <span style="cursor:pointer;" title="Editar"><a href="@Url.Action("Edit", "Laboratorios", new { id = item.id })" style="color:black;"><i class="fas fa-edit"></i></a></span>
                        <span style="cursor:pointer;" title="Eliminar"><a href="@Url.Action("Delete", "Laboratorios", new { id = item.id })" style="color:darkred;"><i class="fas fa-trash"></i></a></span>
                        @if (item.estado.Equals(2))
                        {
                            <span style="cursor:pointer;" title="Recuperar"><a href="@Url.Action("Recuperar", "Laboratorios", new { id = item.id })" style="color:blue;"><i class="fas fa-check"></i></a></span>
                        }
                        <span style="cursor:pointer;" title="Exportar a PDF"><a href="@Url.Action("Reporte", "Laboratorios", new { id = item.id })" style="color:black;"><i class="fas fa-file-export"></i></a></span>
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.nombreLab)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado1.nombreEst)
                    </th>
                    <th>Acciones</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div> 