@model Caso_de_Estudio.Models.Computadora

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

<div class="card mt-3">

    <dl class="dl-horizontal card-body mt-3">
        <dt class="card-title">
            @Html.DisplayNameFor(model => model.nombre) :
            @Html.DisplayFor(model => model.nombre)
        </dt>


        <dt class="card-title">
            @Html.DisplayNameFor(model => model.caracteristicas) :
            @Html.DisplayFor(model => model.caracteristicas)
        </dt>


        <dt class="card-title">
            @Html.DisplayNameFor(model => model.Estado1.nombreEst) :
            @Html.DisplayFor(model => model.Estado1.nombreEst)
        </dt>

        <dt class="card-title">
            @Html.DisplayNameFor(model => model.Laboratorio.nombreLab) :
            @Html.DisplayFor(model => model.Laboratorio.nombreLab)
        </dt>



        <p class="mt-3">
            @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
            @Html.ActionLink("Volver", "Index")
        </p>
    </dl>
</div>
 