@model Caso_de_Estudio.Models.Reservacion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header"
>
        <h1 class="card-title">
            ¿Estas seguro de eliminar la reservacións?
        </h1>
    </div>
    <div class="card-body container">

        <dl class="dl-horizontal mt-5 ">
            <dt class="card-title mt-2">
                @Html.DisplayNameFor(model => model.fecha)  :
                @Html.DisplayFor(model => model.fecha)
            </dt>


            <dd class="card-title mt-2">
                @Html.DisplayNameFor(model => model.horaEntrada) :
                @Html.DisplayFor(model => model.horaEntrada)
            </dd>

            <dt class="card-title mt-2">
                @Html.DisplayNameFor(model => model.horaSalida) :
                @Html.DisplayFor(model => model.horaSalida)
            </dt>

            <dd class="card-title mt-2">
                @Html.DisplayNameFor(model => model.observacion) :
                @Html.DisplayFor(model => model.observacion)
            </dd>

            <dt class="card-title mt-2">
                @Html.DisplayNameFor(model => model.Computadora.nombre) :
                @Html.DisplayFor(model => model.Computadora.nombre)
            </dt>

            <dt class="card-title mt-2">
                @Html.DisplayNameFor(model => model.Usuario.username) :
                @Html.DisplayFor(model => model.Usuario.username)
            </dt>

            <dt class="card-title mt-2">
                @Html.DisplayNameFor(model => model.TipoReservacion.nombreTipoR) :
                @Html.DisplayFor(model => model.TipoReservacion.nombreTipoR)
            </dt>

        </dl>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color mt-2 ">
                <input type="submit" value="Eliminar" class="btn btn-danger btn-block" />
            </div>

            <div class="form-actions no-color mt-2  mb-5">

                <a class="btn btn-info btn-block" href="@Url.Action("Index", "Reservacions")">Volver</a>
            </div>
        }
    </div>
</div>