@model Caso_de_Estudio.Models.Reservacion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

<div class="card container">
    <dl class="dl-horizontal mt-5 ">
        <dt class="card-title mt-2">
            @Html.DisplayNameFor(model => model.fecha)  :
            @Html.DisplayFor(model => model.fecha)
        </dt>


        <dd class="card-title mt-2">
            @Html.DisplayNameFor(model => model.horaEntrada) :
            @Html.DisplayFor(model => model.horaEntrada)
        </dd>

        <dt class="card-title mt-2">
            @Html.DisplayNameFor(model => model.horaSalida) :
            @Html.DisplayFor(model => model.horaSalida)
        </dt>

        <dd class="card-title mt-2">
            @Html.DisplayNameFor(model => model.observacion) :
            @Html.DisplayFor(model => model.observacion)
        </dd>

        <dt class="card-title mt-2">
            @Html.DisplayNameFor(model => model.Computadora.nombre) :
            @Html.DisplayFor(model => model.Computadora.nombre)
        </dt>

        <dt class="card-title mt-2">
            @Html.DisplayNameFor(model => model.Usuario.username) :
            @Html.DisplayFor(model => model.Usuario.username)
        </dt>

        <dt class="card-title mt-2">
            @Html.DisplayNameFor(model => model.TipoReservacion.nombreTipoR) :
            @Html.DisplayFor(model => model.TipoReservacion.nombreTipoR)
        </dt>

    </dl>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
        @Html.ActionLink("volver", "Index")
    </p>
</div>

