@model IEnumerable<Caso_de_Estudio.Models.Reservacion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    @using (Html.BeginForm("Index", "Reservacions", FormMethod.Post))
    {
        <div style="text-align:right; float:right;" >
            <div class"row">
                <div class="input-group ">
                    @Html.TextBox("buscar", "", new { @class = "form-control" })
                    <button type="submit" class="btn btn-dark">Buscar</button>
                </div>
            </div>
        </div>
    }
    <div class="container mt-5">

        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.horaEntrada)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.horaSalida)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.observacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Computadora.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario.username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoReservacion.nombreTipoR)
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.horaEntrada)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.horaSalida)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.observacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Computadora.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario.username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoReservacion.nombreTipoR)
                        </td>
                        <td>
                            <span style="cursor:pointer;" title="Ver detalles"><a href="@Url.Action("Details", "Reservacions", new { id = item.id})" style="color:black;"><i class="fas fa-eye"></i></a></span>
                            <span style="cursor:pointer;" title="Editar"><a href="@Url.Action("Edit", "Reservacions", new { id = item.id })" style="color:black;"><i class="fas fa-edit"></i></a></span>
                            <span style="cursor:pointer;" title="Eliminar"><a href="@Url.Action("Delete", "Reservacions", new { id = item.id })" style="color:darkred;"><i class="fas fa-trash"></i></a></span>
                            <span style="cursor:pointer;" title="Exportar a PDF"><a href="@Url.Action("Reporte", "Reservacions", new { id = item.id })" style="color:black;"><i class="fas fa-file-export"></i></a></span>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.horaEntrada)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.horaSalida)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.observacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Computadora.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario.username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoReservacion.nombreTipoR)
                    </th>
                    <th>Acciones</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div> 